# My .gitignore file

### Node ###

# Ignore node_modules and its child directories
node_modules/

# Optional npm cache directory
.npm

# ignore the dist folder
dist/

#ignore cache files
.parcel-cache/

.vscode